NEXT_PUBLIC_URL=http://localhost:3060
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_UPDATE_USER=
NEXT_PUBLIC_GET_CERTIFICATE=
NEXT_PUBLIC_CHECK_ACCOUNT_EXISTS=
NEXT_PUBLIC_PROCESS_PAYMENT=
NEXT_PUBLIC_SEND_FRONT_MAIL_URL=
NEXT_PUBLIC_REFUND_PAYMENT=
NEXT_PUBLIC_UPDATE_USER_ANALYTICS=
NEXT_PUBLIC_UPDATE_EXAM_ANALYTICS=
NEXT_PUBLIC_GET_CERTIFICATE_BY_ID=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
SENTRY_AUTH_TOKEN=
